//
//  Debug.xcconfig
//  GudTay
//
//  Created by ZevEisenberg on 11/1/16.
//  Copyright © 2017 ZevEisenberg. All rights reserved.
//

PRODUCT_BUNDLE_IDENTIFIER = com.zeveisenberg.gudtay.debug
PRODUCT_NAME = GudTay

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
