//
//  Release.xcconfig
//  GudTay
//
//  Created by ZevEisenberg on 11/1/16.
//  Copyright © 2017 ZevEisenberg. All rights reserved.
//

PRODUCT_BUNDLE_IDENTIFIER = com.zeveisenberg.gudtay.debug
PRODUCT_NAME = $(TARGET_NAME)
GCC_OPTIMIZATION_LEVEL = 3
SWIFT_OPTIMIZATION_LEVEL = -O
ENABLE_NS_ASSERTIONS = NO
SWIFT_COMPILATION_MODE = wholemodule
